services:
  - type: web
    name: laravel-app
    env: docker
    dockerfilePath: ./Dockerfile
    region: oregon
    plan: free
    
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_URL
        value: postgresql://postgres:%40ParasaIT12@db.xyiisjocubbjltqwkbml.supabase.co:5432/postgres